.mat-drawer-container {
    height:100%;
    .mat-drawer {
        width: 20%;
        a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            display: flex;
            text-decoration: none;
            justify-content: center;
            span {
                display: block;
                width: 100%;
                padding: 1rem;
                color: #757575;
            }
            &.active {
                border-right: 6px solid #FFC107;
                span {
                    font-weight: bold;
                }
            }
        }
    }
    .mat-drawer-content {
        padding: 1vw 3vw;
    }
}

@media (max-width: 768px) {
  
    .mat-drawer-container {
        .mat-drawer {
            width: 30%;
            a {
                span {
                    font-size: 0.75rem; 
                }
            }
        }
        .mat-drawer-content {
            padding: 1vw 2vw;
        }
    }
    
}
