.home-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
        padding: 0rem 2rem;
        margin-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .mat-button-wrapper {
            margin-top: -1rem !important;
        }
    }
}

.mat-table {
    width: 90vw;
    margin: 1rem auto;
}

app-status{
    display: flex;
    margin-left: 1rem;
}