<h1>
    Garantías y turnos
</h1>
<form [formGroup]="form" *ngIf="preferences | async; else loading">
    <div class="wrapper">
        <div class="selection">
            <mat-form-field>
                <mat-select placeholder="Primera preferencia" formControlName="firstPreference">
                    <mat-option *ngFor="let preference of preferencesList" [value]="preference.id">{{ preference.value }}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('firstPreference').hasError('required')">Debe seleccionar una preferencia</mat-error>
            </mat-form-field>
        </div>
        <div class="description">
            <p>
                En caso de cambio de su preferencia de vuelo, éste se aplicará a partir del mes (incluido): febrero
            </p>
        </div>
    </div>
    <div class="wrapper">
        <div class="selection">
            <mat-form-field>
                <mat-select placeholder="Segunda preferencia"  formControlName="secondPreference">
                    <mat-option *ngFor="let preference of preferencesList" [value]="preference.id">{{ preference.value }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="description">
            <p>
                En caso de cambio de su preferencia de vuelo, éste se aplicará a partir del mes (incluido): febrero
            </p>
        </div>
    </div>
    <div class="actions">
        <button class="mat-raised-button mat-primary" (click)="submit()" [disabled]="!form.valid">Guardar</button>
    </div> 
</form>  

<div *ngIf="successMessage" class="serverMessage">
  {{ successMessage }}
</div>

<ng-template #loading>
    Loading Preferences...
</ng-template>

